<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <div>
    {% for entry in entries %}
      <div>
        <div>
          <p>id: {{ entry.id }}, text: {{entry.text }}</p>
        </div>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{ entry.id }}">
          <button type="submit">Delete</button>
        </form>
      </div>
    {% endfor %}
  </div>

  <form action="/add" method="post">
    <div>
      <input type="text" name="text">
    </div>
    <div>
      <button type="submit">Add</button>
    </div>
</body>
</html>
